.btn-nav {
    font-size: large;
    font-weight: normal;
}

.btn-nav a {
    color: #363636;
    text-decoration: none !important;
}

.btn-nav:hover {
    color: black;
    font-size: large;
    font-weight: bold;
}

.fill-masthead {
    padding-top: 0%!important;
    padding-bottom: 0%!important;
}

.fill-slide-background {
    margin-left: 0%!important;
    margin-right: 0%!important;
    padding-left: 0%!important;
    padding-right: 0%!important;
    max-width: 100%;
}
.carousel-item {
    height: 100%;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.footer {
    background-color:#58508D!important;
}

.footer a {
    color: white;
}

.footer p {
    color: white!important;
}

.label-text {
    margin: 5%;
    color: black; 
    text-align: justify;
}

.label-text strong {
    font-size: larger;
    font-weight: bold;
}

.features-icons-download {
    padding-top: 3%;
    padding-bottom: 2%;
}

.bg-download{
    height: 100%;
    background: no-repeat center center scroll;
    background-image: url("./../img/bg_download.jpg");
    background-color: #111111;
    background-size: cover;
}